.box{
   width: 250px;
   height: 150px;
   position: absolute;



}
.inputBox{
   width: 500px;
   height: 500px;
   background-color: rosybrown;
   overflow: auto;
   display: block;
   padding: 12px;
   margin: 12px;
  }

.boxIn{
  left: 0px;
  animation: in cubic-bezier(0.34, 0.86, 0.94, 1.01) 1s;
  -moz-animation: in cubic-bezier(0.34, 0.86, 0.94, 1.01) 1s;	/* Firefox */
  -webkit-animation: in cubic-bezier(0.34, 0.86, 0.94, 1.01) 1s;	/* Safari 和 Chrome */
  -o-animation: in cubic-bezier(0.34, 0.86, 0.94, 1.01) 1s;	/* Opera */
}
.boxOut{
  width: 0;
  right: 0;
  animation: out cubic-bezier(0.34, 0.86, 0.94, 1.01) 1s;
  -moz-animation: out cubic-bezier(0.34, 0.86, 0.94, 1.01) 1s;	/* Firefox */
  -webkit-animation: out cubic-bezier(0.34, 0.86, 0.94, 1.01) 1s;	/* Safari 和 Chrome */
  -o-animation: out cubic-bezier(0.34, 0.86, 0.94, 1.01) 1s;	/* Opera */

}

.boxs{
   position: relative;
   width: 250px;
   height: 150px;
   background-color: beige;
}

.yellow{
   background-color: yellow;
}

.blue{
   background-color: blue;
}
.red{
  background-color: red;
}

@keyframes out {
  0%{
    width: 250px;

  }
  100%{
    width: 0px;
    right: 0px;
  }
}


@keyframes in {
  0%{
    left: -250px;
  }
  100%{
    left: 0px;
  }
}
