.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 60px;
    pointer-events: none;
    -webkit-animation: App-logo-spin infinite 20s linear;
  }
  
  .App-header {
    background-color: #282c34;
    height: 64px;
    display: flex;
    justify-content:space-between;
    color: white;
  }
  .App-header p{
    flex-grow: 1;
    margin: 0;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
  }
  
  .App-link {
    color: #61dafb;
  }
  .menu{
    position: absolute;
    width: 100%;
  }
  .menu-item{
     border-top:0px;
     border-radius: 0px !important;
     -webkit-border-radius: 0px !important;
     -moz-border-radius: 0px !important;
     -ms-border-radius: 0px !important;
     -o-border-radius: 0px !important;
}


  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  